networks:
  app-network:
    name: appNet

x-db-common: &db-common
  DB_NAME: $DB_NAME #task1/4 req
  DB_USER: $DB_USER
  DB_PASSWORD: $DB_PASSWORD
  DB_HOST: $DB_HOST
  DB_PORT: $DB_PORT

x-airflow-common: &airflow-common
  image: bitnami/airflow:2.10.4
  networks:
    - app-network
  depends_on:
    - db
    - redis
  volumes:
    - ./app-vol/csv:/data/csv
    - ./1TASK/1_task/Scripts/sql:/data/sql/task1
    - ./1TASK/1_task/Task_ETL:/opt/bitnami/airflow/dags/task1

x-airflow-env: &airflow-env
  <<: *db-common
  AIRFLOW_FERNET_KEY: 46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=
  AIRFLOW_SECRET_KEY: a25mQ1FHTUh3MnFRSk5KMEIyVVU2YmN0VGRyYTVXY08=
  AIRFLOW_EXECUTOR: CeleryExecutor
  AIRFLOW_DATABASE_HOST: ${DB_HOST}
  AIRFLOW_DATABASE_NAME: airflowdb
  AIRFLOW_LOAD_EXAMPLES: no
  AIRFLOW_CONN_POSTGRES_DB: 'postgresql://${DB_USER}@${DB_HOST}:${DB_PORT}/${DB_NAME}'
  #see https://airflow.apache.org/docs/apache-airflow/stable/howto/variable.html
  AIRFLOW_VAR_MY_PATH: /data
  ETL_PATH: /data

services:

  app:
    image: custom/etl-app
    depends_on:
      - db
    build:
      context: .
      args:
        - USER_GID=$USER_GID
        - USER_UID=$USER_UID
        - USERNAME=$USER
    command: sleep infinity
    environment:
      <<: *db-common
      ETL_PATH: /data
    networks:
      - app-network
    volumes:
      - .:/workspace:cached # Mount the root folder that contains .git
      - ./1TASK:/app/task1
      - ./2TASK:/app/task2
      - ./app-vol/csv:/data/csv

  pg-admin:
    image: dpage/pgadmin4:8.14
    environment:
      PGADMIN_DEFAULT_EMAIL: $USER@example.com
      PGADMIN_DEFAULT_PASSWORD: 123
    ports:
      - '8081:80'
    networks:
      - app-network
    volumes:
      - ./app-vol/pgadmin/data:/var/lib/pgadmin
      - ./app-vol/pgadmin/servers.json:/pgadmin4/servers.json
      - .:/var/lib/pgadmin/storage/${USER}_example.com/ #pgadmin see this as storage for sql files

  db:
    image: bitnami/postgresql:16
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - '5432:5432'
    networks:
      - app-network
    volumes:
      - ./app-vol/postgresql:/bitnami/postgresql
      - ./app-vol/initdb:/docker-entrypoint-initdb.d

  redis:
    image: bitnami/redis:7.4.2
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    networks:
      - app-network
    volumes:
      - ./app-vol/redis:/bitnami/redis

  airflow-worker:
    <<: *airflow-common
    environment:
      <<: *airflow-env
      AIRFLOW_COMPONENT_TYPE: worker

  airflow-scheduler:
    <<: *airflow-common
    environment:
      <<: *airflow-env
      AIRFLOW_COMPONENT_TYPE: scheduler

  airflow:
    <<: *airflow-common
    environment:
      <<: *airflow-env
      AIRFLOW_PASSWORD: 123
      AIRFLOW_USERNAME: $USER
      AIRFLOW_EMAIL: $USER@example.com
    ports:
      - '8080:8080'
